@model AdministradorDeBarberia.Models.Servicio

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Eliminar servicio</h1>

    <h3>¿Estás seguro de que quieres eliminar este servicio?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DuracionMinutos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DuracionMinutos)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ServicioId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-link" asp-action="Index">Volver</a>
        </form>
    </div>

</div>


