@model IEnumerable<AdministradorDeBarberia.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Lista de servicios de la barbería</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Crear servicio</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuracionMinutos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuracionMinutos)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServicioId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ServicioId">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.ServicioId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
